<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{pageInfo.basketHistoryTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light" *ngFor="let item of orders[0]">

    <ion-card-header color="medium">
      <ion-item lines="none" color="medium">
        <div slot="start">
          <ion-card-title>{{item.address_title}}</ion-card-title>
          <ion-card-subtitle>{{item.created_at}}</ion-card-subtitle>
        </div>
        <ion-card-subtitle slot="end"># {{item.id}}</ion-card-subtitle>
        <ion-card-subtitle slot="end"> {{item.status}}</ion-card-subtitle>
      </ion-item>
    </ion-card-header>
    <ion-card-content style="font-size: 1.3em;direction: rtl;" color="dark" class="ion-margin">
     {{item.notes}}
    </ion-card-content>

    <ion-row>
      <ion-col size="4" offset="8">
        <ion-button color="warning"  [disabled]="item.status== 'قيد التوصيل'" size="small" expand="full" (click)="reOrder(item)" shape="round">
          {{pageInfo.reorder}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="ion-padding ion-margin-top"  *ngIf="orders.length == 0" >
    <ion-card-header class="ion-margin-top" color="warning">
     
      <ion-card-title class="ion-text-center">{{pageInfo.basketEmpty}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  
</ion-content>