<ion-header no-border [ngStyle]="{'direction':lang === 'en' ? 'ltr' : 'rtl' }">
  <ion-toolbar>
      <ion-buttons color="danger" slot="end"  (click)="dismiss(null)"  class="ion-padding-horizontal"> <ion-icon slot="start" name="close"></ion-icon></ion-buttons>
    <ion-title>{{pageInfo.cityTitle}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [ngStyle]="{'direction':lang === 'en' ? 'ltr' : 'rtl' }" >
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list  class="ion-padding">
    <ion-item   *ngFor="let item of cities" (click)="dismiss(item)">
    <h4  color="primary">  {{ item.nane }}</h4> <ion-icon color="warning" slot="start" name="pin"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
