<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312551534677-9v80g7kh2stdi7md60ifk89h2522uagu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312551534677-9v80g7kh2stdi7md60ifk89h2522uagu</string>
	<key>API_KEY</key>
	<string>AIzaSyDZRp4ChfFrDxL24weo2Zp5WR8fqOii0vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>312551534677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.nazeh.pasket</string>
	<key>PROJECT_ID</key>
	<string>baaskeet-e4882</string>
	<key>STORAGE_BUCKET</key>
	<string>baaskeet-e4882.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312551534677:ios:d8c87406ca0962b79724dc</string>
	<key>DATABASE_URL</key>
	<string>https://baaskeet-e4882.firebaseio.com</string>
	<key>NSCameraUsageDescription</key>
	<string>Share the tools and materials to be delivered</string>
</dict>
</plist>