<ion-header no-border>
  <ion-toolbar>
   
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid class="background-yellow height-100 ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <div class="box-curv">
          <div class="box-content ion-text-center">
            <img src="assets/img/Asset-1.svg" width="55%">
          </div>
        </div>
      </ion-col>
    </ion-row>

    <form novalidate (ngSubmit)="login()" [formGroup]="signupform">
      
      <ion-list style="padding-bottom: 25px;">
          <div text-center>
              <h3>{{pageInfo.loginTitle}}</h3>
          </div>
      <div padding>
        <ion-item>
          <ion-label floating>{{pageInfo.Username}}</ion-label>
          <ion-input type="text" [(ngModel)]="userData.username" formControlName="username"
            [class.error1]="!signupform.controls.username.valid "></ion-input>
        </ion-item>

        <ion-item no-lines
          *ngIf="( signupform.get('username').hasError('minlength') || signupform.get('username').hasError('maxlength') ||signupform.get('username').hasError('pattern') ||signupform.get('username').hasError('required') ) && signupform.get('username').touched">
          <div class="error"
            *ngIf="signupform.get('username').hasError('required') && signupform.get('username').touched">
            {{pageInfo.usernameReq}}
          </div>
          <div class="error"
            *ngIf="signupform.get('username').hasError('minlength') && signupform.get('username').touched">
            {{pageInfo.usernameMin}}
          </div>
          <div class="error"
            *ngIf="signupform.get('username').hasError('maxlength') && signupform.get('username').touched">
            {{pageInfo.usernameMax}}
          </div>
         
        </ion-item>
        <ion-item>
          <ion-label floating>{{pageInfo.password}}</ion-label>
          <ion-input type="password" [(ngModel)]="userData.password" formControlName="password"
            [class.error1]="!signupform.controls.password.valid "></ion-input>
        </ion-item>

        <ion-item no-lines
          *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
          <div class="error"
            *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
           {{pageInfo.passwordReq}}
          </div>
          <div class="error"
            *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
            {{pageInfo.passwordMin}}
          </div>
          <div class="error"
            *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
            {{pageInfo.passwordMax}}
          </div>
        </ion-item>
      </div>
      <div class="ion-margin-bottom">
          <ion-button  color="warning" shape="round" expand="block" size="large" type="submit"
            [disabled]="signupform.invalid">{{pageInfo.Login}}</ion-button>
            <div class="ion-margin-start ion-margin-top">
              <button  class="ion-text-center" (click)="openForget()" > {{pageInfo.forgetPassword}}</button>

            </div>
        </div>
      </ion-list>

    
    </form>

    <ion-col  >
        <div  text-center>
      {{pageInfo.donnotHaveAcc}} <a routerLink='/signup'>
        {{pageInfo.Register}}</a> 
        </div>
    </ion-col>
  </ion-grid>
</ion-content>