<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">  
            <ion-menu-button></ion-menu-button>
          </ion-buttons>   
    <ion-buttons slot="end">
    <ion-button [disabled]="orderform.invalid" (click)="sendOrder()">
        <ion-icon slot="end" color="dark" name="done-all"></ion-icon>
        <ion-text color="dark">{{pageInfo.btnBasketIt}}</ion-text>
    </ion-button>
  </ion-buttons>
    <ion-title>{{pageInfo.orderPlaceTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form novalidate (ngSubmit)="sendOrder()" [formGroup]="orderform">
        <ion-list lines="full">
            <ion-item>
              <ion-label class="ion-label-bolder">{{pageInfo.yourOrder}}</ion-label>
              <ion-icon slot="start" name="star-half"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input formControlName="notes" placeholder="{{pageInfo.placheholderOrde}}" ></ion-input>
            </ion-item>
        
        
            <ion-item>
              <ion-label class="ion-label-bolder">{{pageInfo.anyWhere}}</ion-label>
              <ion-icon slot="start" name="home"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input formControlName="from_where"  placeholder="{{pageInfo.anywherePlaceholder}}"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label class="ion-label-bolder">{{pageInfo.city}}</ion-label>
              <ion-icon slot="start" name="cog"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-select formControlName="city_id"  [selectedText]="cityName" (ionChange)="codeSelected()">
                <ion-select-option   *ngFor="let item of cities"   [value]="item.id">{{item.nane}}</ion-select-option>
               
              </ion-select>
            </ion-item>
        
            <ion-item>
              <ion-label class="ion-label-bolder">{{pageInfo.detailsAddress}}</ion-label>
              <ion-icon slot="start" name="pin" ></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input formControlName="address_title"   placeholder="{{pageInfo.detailsAddressholder}}"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label class="ion-label-bolder">{{pageInfo.mobile}}</ion-label>
              <ion-icon slot="start" name="call"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input formControlName="phone" placeholder="{{pageInfo.mobilePlaceholder}}"  ></ion-input>
            </ion-item>
        
            <ion-item lines="none">
              <ion-label class="ion-label-bolder">{{pageInfo.orderVal}}</ion-label>
              <ion-icon slot="start" name="wallet"></ion-icon>
            </ion-item>
            <ion-grid> 
              <ion-row>
                <ion-col size=4>
                  <div class="box setcolor" [ngClass]="{'box-seleced': step==1}" (click)="step=1">
                    <div style="margin-bottom: 6px;">{{pageInfo.lessThan}}</div>
                    <ion-label class="ion-label-bolder">{{pageInfo.eg50}}</ion-label>
                  </div>
                </ion-col>
                <ion-col size=4>
                  <div class="box"  [ngClass]="{'box-seleced': step==2}" (click)="step=2">
                    <div style="margin-bottom: 6px;">{{pageInfo.between}}</div>
                    <ion-label class="ion-label-bolder">{{pageInfo.eg50To200}}</ion-label>
                  </div>
                </ion-col>
                <ion-col size=4>
                  <div class="box"  [ngClass]="{'box-seleced': step==3}" (click)="step=3">
                    <div style="margin-bottom: 6px;">{{pageInfo.moreThan}}</div>
                    <ion-label class="ion-label-bolder">{{pageInfo.eg200}}</ion-label>
                  </div>
                </ion-col>
              </ion-row>
        
              <ion-row>
                <ion-col>
        
                  <div><small>{{pageInfo.cash}}</small></div>
                  <div><small>{{pageInfo.avgDelivery}}</small></div>
        
                </ion-col>
              </ion-row>
        
        
              <ion-row>
                  <ion-col size="2"></ion-col>
                  <ion-col size="8">
        
                  <ion-button [disabled]="orderform.invalid" color="warning" shape ="round" expand="block" size="large" type="submit">
                      <ion-icon slot="end" color="dark" name="done-all"></ion-icon>
                      <ion-text color="dark">{{pageInfo.btnBasketIt}}</ion-text>
                  </ion-button>
                </ion-col>
                <ion-col size="2"></ion-col>
        
                </ion-row>
        
            </ion-grid>
        
        
        
          </ion-list>
    </form>
  
</ion-content>