<ion-header  no-border>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-grid class="background-yellow height-100 ion-no-padding">
          <ion-row>
            <ion-col  class="ion-no-padding">
                <div class="box-curv">
                    <div class="box-content ion-text-center">
                      <img src="assets/img/Asset-1.svg" width="55%">
                    </div>
                  </div>
            </ion-col>
          </ion-row>
      
          <ion-row>
            <ion-col class="ion-text-center">
              <div class="ion-padding">
                <ion-label color="dark" style="font-size: 1.8em;" class="ion-label-bold">Thank you!</ion-label>
                <p style="margin:8px 0 ;font-size: 1.5em; font-weight:normal" color="dark">We received your order</p>
                <p style="margin:8px 0 ; font-size: 1.5em;font-weight:normal" color="dark">Your order number is</p>
              </div>
            

              <div class="ion-padding">
                  <ion-label color="dark" style="font-size: 1.8em; border-bottom: 2px solid #000;" class="ion-padding-horizontal ion-label-bold">#{{orderId}}</ion-label>
                </div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="3"></ion-col>
              <ion-col siz="6" class="ion-margin-top ion-padding-top">
                <ion-button color="light" size="large" expand="full" (click)="openOrders()">Done</ion-button>
              </ion-col>
              <ion-col size="3"></ion-col>

          </ion-row>
        </ion-grid>
  </ion-content>
  