<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>{{pageInfo.restaurantTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <b text-center >
    {{pageInfo.sign}}<span><ion-icon name="basket" style=" color: #f10101;
      font-size: 14pt;"></ion-icon> </span>  {{pageInfo.mealsChosen}}
    </b>
  </ion-item>
  <ion-grid class="grid">
    <!-- <ion-row>
     
      <ion-slides initialSlide=0 speed="3000" loop="true" pager="true" dir="rtl">
        <ion-slide >
          <div class="overlay">
            <img src='https://www.weightwatchers.com/us/sites/default/files/styles/wwvs_default_image/public/article_masthead/0p_foodlist_purple_1200x628.jpg?itok=3ErSwv7S' class="slider-img">
          </div>
      
         
        </ion-slide>
      </ion-slides>
    </ion-row>
     -->
    <!-- second-row -->
  
  

    <ion-row class="categories" >

      <ion-col size=4 *ngFor="let item of restaurant" (click)="openMenu(item)">
       
        <img [src]='item.image'>
        <ion-icon *ngIf="item.ishaveItems == true && lang == 'ar'" name="basket"  style=" 
        position: absolute;
        z-index: 1;
        color: #f10101;
        font-size: 14pt;
        margin-top: 108%;
        margin-right: -16%;"></ion-icon>
          <ion-icon *ngIf="item.ishaveItems == true && lang == 'en'" name="basket"  style=" 
          position: absolute;
          z-index: 1;
          color: #f10101;
          font-size: 14pt;
          margin-top: 108%;
          margin-left: -16%;"></ion-icon>
      <div class="text-over-img" > <b >{{item.title}}  </b></div> 
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button  color="warning" shape ="round" expand="block" size="large" (click)="openOrder()">
      <ion-icon slot="end" color="dark" name="done-all"></ion-icon>
      <ion-text color="dark">{{pageInfo.order}}</ion-text>
  </ion-button>
  </ion-toolbar>
</ion-footer>