<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>{{pageInfo.restaurantTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <!-- <ion-row>
     
      <ion-slides initialSlide=0 speed="3000" loop="true" pager="true" dir="rtl">
        <ion-slide >
          <div class="overlay">
            <img src='https://www.weightwatchers.com/us/sites/default/files/styles/wwvs_default_image/public/article_masthead/0p_foodlist_purple_1200x628.jpg?itok=3ErSwv7S' class="slider-img">
          </div>
      
         
        </ion-slide>
      </ion-slides>
    </ion-row>
     -->
    <!-- second-row -->
    <ion-item>
      <h6 text-center margin-bottom>
       تشير تلك العلامة <span><ion-icon name="basket"></ion-icon> </span>  الى وجود وجبات تم اختيارها من تلك المطاعم
      </h6>
    </ion-item>
  

    <ion-row class="categories" >

      <ion-col size=4 *ngFor="let item of restaurant" (click)="openMenu(item)">
       
        <img [src]='item.image'>
      <div class="text-over-img" > <b >{{item.title}}  <ion-icon *ngIf='item.ishaveItems == true' name="basket"></ion-icon></b></div> 
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button  color="warning" shape ="round" expand="block" size="large" (click)="openOrder()">
      <ion-icon slot="end" color="dark" name="done-all"></ion-icon>
      <ion-text color="dark">{{pageInfo.order}}</ion-text>
  </ion-button>
  </ion-toolbar>
</ion-footer>