<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          
          <ion-menu-button></ion-menu-button>
        </ion-buttons>   
        
    <ion-title>{{pageInfo.updateInfo}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
    <ion-grid class="background-yellow height-100 ion-no-padding">
      <ion-row>
        <ion-col class="ion-no-padding">
          <div class="box-curv">
            <div class="box-content ion-text-center">
              <img src="assets/img/Asset-1.svg" width="55%">
            </div>
          </div>
        </ion-col>
      </ion-row>
  
      <form novalidate (ngSubmit)="updateinfo()" [formGroup]="updateform">
        
        <ion-list style="padding-bottom: 25px;">
            <div text-center>
              <h3>{{pageInfo.updateTitle}}</h3>
            </div>
        <div padding>
          <ion-item>
            <ion-label floating>{{pageInfo.name}}</ion-label>
            <ion-input type="text"  formControlName="name"
              [class.error1]="!updateform.controls.name.valid "></ion-input>
          </ion-item>
          <ion-item no-lines
          *ngIf="( updateform.get('name').hasError('minlength') || updateform.get('name').hasError('maxlength') ||updateform.get('name').hasError('pattern') ||updateform.get('name').hasError('required') ) && updateform.get('name').touched">
          <div class="error"
            *ngIf="updateform.get('name').hasError('required') && updateform.get('name').touched">
            {{ pageInfo.nameReq}}
          </div>
          <div class="error"
            *ngIf="updateform.get('name').hasError('minlength') && updateform.get('name').touched">
            {{ pageInfo.nameMin}}
          </div>
          <div class="error"
            *ngIf="updateform.get('name').hasError('maxlength') && updateform.get('name').touched">
            {{ pageInfo.nameMax}}
          </div>
         
        </ion-item>
     
          <ion-item>
            <ion-label floating>{{pageInfo.mobile}}</ion-label>
            <ion-input type="number"  formControlName="phone"
              [class.error1]="!updateform.controls.phone.valid "></ion-input>
          </ion-item>
            <ion-item no-lines  *ngIf="( updateform.get('phone').hasError('minlength') || updateform.get('phone').hasError('maxlength') ||updateform.get('phone').hasError('pattern') ||updateform.get('phone').hasError('required') )&& updateform.get('phone').touched ">
              <div class="error"
                *ngIf="updateform.get('phone').hasError('required') && updateform.get('phone').touched">
                {{pageInfo.mobileReq}}
              </div>
              <div class="error"
                *ngIf="updateform.get('phone').hasError('pattern') && updateform.get('phone').touched">
                {{pageInfo.mobileValid}}
              </div>
           
            </ion-item>
  
            <ion-item>
              <ion-label floating>{{pageInfo.email}}</ion-label>
              <ion-input type="email"  formControlName="email"
                [class.error1]="!updateform.controls.email.valid "></ion-input>
            </ion-item>
              <ion-item no-lines
                *ngIf="( updateform.get('email').hasError('minlength') || updateform.get('email').hasError('maxlength') ||updateform.get('email').hasError('pattern') ||updateform.get('email').hasError('required') ) && updateform.get('email').touched">
                <div class="error"
                  *ngIf="updateform.get('email').hasError('required') && updateform.get('email').touched">
                  {{pageInfo.emailReq}}
                </div>
                <div class="error"
                  *ngIf="updateform.get('email').hasError('pattern') && updateform.get('email').touched">
                  {{pageInfo.emailValid}}
                </div>
             
              </ion-item>
  
  
      
        </div>
        <div class="ion-margin-bottom">
            <ion-button  color="warning" shape="round" expand="block" size="large" type="submit"
              [disabled]="updateform.invalid">{{pageInfo.update}} </ion-button>
    
          </div>
        </ion-list>
  
      
      </form>
  
    
    </ion-grid>
  </ion-content>
  
  
  
