<ion-header  no-border>
  <ion-toolbar>
      <!-- <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
    <!-- <ion-buttons color="light" slot="end" class="ion-padding-horizontal">عربي</ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid  class="background-yellow height-100 ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <div class="box-curv">
          <div class="box-content ion-text-center">
            <img src="assets/img/Asset-1.svg" width="55%">
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <div class="ion-padding-vertical">
          <ion-label color="light" class="ion-label-bold">Continue with</ion-label>
        </div>
        <div>
          <ion-button color="primary" size="large" (click)="fbLogin()">
              <ion-icon slot="start" name="logo-facebook"></ion-icon>
               Facebook
          </ion-button>
        </div>
        <div  class="ion-padding-vertical">
          <ion-button color="dark" size="large" fill="clear" routerLink='/signup'>SIGN UP</ion-button> 
        </div>
        <div>
            <ion-label color="light" class="ion-label-bold">Have an account?</ion-label>&nbsp;&nbsp;
            <ion-label color="dark" class="ion-label-bold" routerLink='/login'>Log in</ion-label>
        </div>

        <div class="ion-padding-vertical"></div>
        <div class="ion-padding-vertical">
            <ion-label>By continuing, you are agreeing to our Terms and Conditionsand Privacy Policy</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>

