<ion-header no-border>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
          
                    <ion-menu-button></ion-menu-button>
                       
          </ion-buttons>

        <ion-title>{{pageInfo.orderTitle}}</ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-content color="warning">
      <ion-card color="light" class="">
          <ion-card-header color="medium">
              <ion-card-title>{{pageInfo.hi}} ({{fullName}}) {{pageInfo.whatNeed}}</ion-card-title>
            <ion-card-subtitle>{{pageInfo.canMotot}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content >
              <ion-row>
                   <ion-textarea  [(ngModel)]="notes"
                    autofocus="true"style="height: auto;" style="font-size: 1.2em;direction: rtl;"
                     placeholder="{{pageInfo.orderplaceholder}}"
                      auto-grow="true" color="dark">
                   </ion-textarea >

              </ion-row>
           
          </ion-card-content>
        </ion-card>
      <ion-row>
      </ion-row>
        <ion-row class>
         
            <ion-col size="3" >
                <ion-button  shape="round" color="light" (click)="AccessGallery()">
                    <ion-icon color="warning" name="folder"></ion-icon>
                </ion-button>
           
            </ion-col>
            <ion-col size="3">
                <ion-button  shape="round" color="light" (click)="AccessCamera()">
                    <ion-icon color="warning" name="camera"></ion-icon>
                </ion-button>
             </ion-col>
            <ion-col size="5">
               <ion-button expand="full" shape="round" color="light" (click)="next()" >
                    {{pageInfo.next}}
                </ion-button>
            </ion-col>
       

        </ion-row>

        <ion-card color="light" class="ion-card-height-100" *ngIf="imageURI">
            <ion-card-header color="medium">

                   
                    <ion-button (click)="removeImage()" color="danger"  icon-only >
                            <ion-icon name="trash"></ion-icon>              
                    </ion-button>
            
                <ion-card-title  class="ion-text-center">{{pageInfo.imagePreview}}</ion-card-title>
   
                  
              
            </ion-card-header>
            <ion-card-content>
                <img src="{{imageURI}}"  alt="Ionic File" width="300" />
            </ion-card-content>
            
          </ion-card>
    
  </ion-content>