<ion-header no-border>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
          
                    <ion-menu-button></ion-menu-button>
                       
          </ion-buttons>

        <ion-title>Basket Anything</ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-content color="warning">
      <ion-card color="light" class="ion-card-height-100">
          <ion-card-header color="medium">
              <ion-card-title>Hi (First Name), What do you need ?</ion-card-title>
            <ion-card-subtitle>If it fits on moto, we can Basket it.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <ion-textarea [(ngModel)]="notes" autofocus="true" style="font-size: 1.2em;" placeholder="Place your order here ..." auto-grow="true" color="dark"></ion-textarea>
          </ion-card-content>
        </ion-card>

        <ion-row class>
         
            <ion-col size="5" offset="1">
                <ion-button expand="full" shape="round" color="light" (click)="AccessGallery()">
                    Add image
                </ion-button>
            </ion-col>
            <ion-col size="5">
               <ion-button expand="full" shape="round" color="light" (click)="next()" >
                    NEXT
                </ion-button>
            </ion-col>
       

        </ion-row>
    
  </ion-content>