<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid  class="background-yellow height-100 ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <div class="box-curv">
          <div class="box-content ion-text-center">

            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col size="8">

                <ion-button color="warning" shape="round" (click)="presentModal()" expand="block" size="large" class="ion-margin-top">
                  <ion-icon slot="end" color="dark" name="arrow-dropdown"></ion-icon>
                  <ion-text color="dark">Select Your city</ion-text>
                </ion-button>
              </ion-col>
              <ion-col size="2"></ion-col>

            </ion-row>

            <div class="ion-padding-top">
              <img src="assets/img/arrow-top.svg" width="7%" />
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <div class="ion-padding">
          <ion-label color="dark" class="ion-label-bold">Get started by setting a delivery address</ion-label>
        </div>
        <div>
          <img src="assets/img/address.svg" width="85%" />
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>