<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons color="light" slot="end"  (click)="_translateLanguage()"  class="ion-padding-horizontal">{{langName}}</ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid  class="background-yellow height-100 ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <div class="box-curv">
          <div class="box-content ion-text-center">

            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col size="8">

                <ion-button color="warning" shape="round" (click)="presentModal()" expand="block" size="large" class="ion-margin-top">
                  <ion-icon slot="end" color="dark" name="arrow-dropdown"></ion-icon>
                  <ion-text color="dark">{{cityName}}</ion-text>
                </ion-button>
              </ion-col>
              <ion-col size="2"></ion-col>

            </ion-row>

            <div class="ion-padding-top">
              <img src="assets/img/arrow-top.svg" width="7%" />
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="cityStatus == 1">
      <ion-col class="ion-text-center">
        <div class="ion-padding">
          <ion-label color="dark" class="ion-label-bold">{{pageInfo.startSelectCity}}</ion-label>
        </div>
        <div>
          <img src="assets/img/address.svg" width="85%" />
        </div>

      </ion-col>
    </ion-row> 

    <ion-row *ngIf="cityStatus == 2">
      <ion-col class="ion-text-center">
        <div class="ion-padding">
          <ion-label color="dark" class="ion-label-bold">{{pageInfo.any}}</ion-label>
          <p style="margin:8px 0 ;" color="dark">{{pageInfo.items}}</p>
        </div>
        <ion-row>
            <ion-col size="12" class="vertical-align-content">
                <img src="assets/img/arr-right.svg" width="18%"/>
                 <img src="assets/img/basket.svg" (click)="openbasket()" class="ion-padding" width="55%"/>
                <img src="assets/img/arr-left.svg" width="18%"/>
            </ion-col>
        </ion-row>

        <div class="vertical-align-content ion-margin-top">
          <img src="assets/img/history.svg" width="60%" (click)="openHistory()" />
        </div>
        
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cityStatus == 3">
      <ion-col class="ion-text-center">
        <div class="ion-padding">
          <ion-label color="dark" class="ion-label-bold">Sorry we are out of service in this city<br/><small>We will be available ASAP in all cities</small></ion-label>
          
        </div>
        <ion-row>
            <ion-col size="12" class="vertical-align-content">
                <img src="assets/img/arr-right.svg" width="18%"/>
                <img src="assets/img/basket-dum.svg" class="ion-padding" width="55%"/>
                <img src="assets/img/arr-left.svg" width="18%"/>
            </ion-col>
        </ion-row>

        <div class="vertical-align-content ion-margin-top">
          <img src="assets/img/history.svg" width="60%" />
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>