<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          
          <ion-menu-button></ion-menu-button>
        </ion-buttons>   
        
    <ion-title>{{pageInfo.changePasswordTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="background-yellow height-100 ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">
            <div class="box-curv">
              <div class="box-content ion-text-center">
                <img src="assets/img/Asset-1.svg" width="55%">
              </div>
            </div>
          </ion-col>
        </ion-row>
        <form [formGroup]="changePasswordForm" (submit)="submit()">
            <ion-list style="padding-bottom: 25px;">
                <div text-center>
                    <h3>{{pageInfo.changePasswordHeader}}</h3>
                </div>
                <div padding>
                    <ion-item>
                        <ion-label stacked>{{pageInfo.oldPasswprd}} </ion-label>
                        <ion-input formControlName="currentpass" type="password"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label stacked>{{pageInfo.newPassword}}</ion-label>
                        <ion-input formControlName="password" type="password"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label stacked> {{pageInfo.confirmPassword}}</ion-label>
                        <ion-input formControlName="password_confirmation" id="confirmPassword" type="password"></ion-input>
                     
                      </ion-item>
                      <ion-item *ngIf="changePasswordForm.controls['password_confirmation'].errors?.MatchPassword">
                          <p   style="color: red"> {{pageInfo.confirmPasswordValid}} </p>
                      </ion-item>
                </div>
           

            <div class="ion-margin-bottom">
                <ion-button *ngIf="!changingPassword" type="submit" [disabled]="!changePasswordForm.valid"  color="warning" shape="round" expand="block" size="large">{{pageInfo.update}}</ion-button>

            </div>
        
         
            </ion-list>
          </form>
    </ion-grid>
</ion-content>
